<?xml version="1.0"?>
<model>
  <name>nxp_raceway_overpass</name>
  <version>1.0</version>
  <sdf version="1.6">nxp_raceway_overpass.sdf</sdf>
  <author>
    <name>Benjamin Perseghetti</name>
    <email>bperseghetti@rudislabs.com</email>
  </author>
  <description>A model of the NXP Cup Car Raceway Overpass.</description>
</model>
