<?xml version="1.0"?>
<model>
  <name>Pixy2 CMUcam5</name>
  <version>1.0</version>
  <sdf version="1.5">pixy2_cmucam5.sdf</sdf>
  <author>
    <name>Benjamin Perseghetti</name>
    <email>bperseghetti@rudislabs.com</email>
  </author>
  <description>A model of the Pixy2 CMUcam5.</description>
</model>
