<?xml version="1.0"?>
<model>
  <name>Grand_Finale_Track</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author>
    <name>Aditya Vashista</name>
    <email>aditya.vashista@nxp.com</email>
  </author>
  <description>Grand Finale Track for NXP AIM SEASON-2.</description>
</model>
