<?xml version="1.0"?>
<model>
  <name>NXP Raceway Octagon</name>
  <version>1.0</version>
  <sdf version="1.5">nxp_raceway_octagon.sdf</sdf>
  <author>
    <name>Benjamin Perseghetti</name>
    <email>bperseghetti@rudislabs.com</email>
  </author>
  <description>A model of the NXP Cup Car Raceway Octagon.</description>
</model>
